@import "../../node_modules/antd/dist/antd.less";

// lessc --js ./public/style/yolog.less ./public/style/yolog.css
@basic-black: #030303;

@primary-color: @basic-black;
@layout-header-background: @basic-black;
@menu-bg: @basic-black;
@menu-popup-bg: @basic-black;
@menu-highlight-color: @basic-black;

@body-background: @basic-black;
@component-background: white;

@text-color: white;
@text-color-secondary: white;
@text-color-inverse: white;