@import "../../node_modules/antd/dist/antd.less";

// lessc --js ./public/style/yolog.less ./public/style/yolog.css
@basic-black: #030303;
@primary-color: @basic-black;

@layout-header-background: @basic-black;
@layout-body-background: @basic-black;
@layout-header-background: @basic-black;

@menu-bg: @basic-black;
@menu-popup-bg: @basic-black;
@menu-highlight-color: white;

@body-background: @basic-black;

@text-color: white;
@text-color-secondary: white;
@text-color-inverse: white;

@select-item-selected-color: white;