@font-face {
  font-family: "AppleSDGothicNeo";
  font-display: fallback;
  font-weight: 300;
  font-style: normal;
  src: url("./AppleSDGothicNeoL.woff") format("woff"),
       url("./AppleSDGothicNeoL.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: url("./AppleSDGothicNeoM.woff") format("woff"),
       url("./AppleSDGothicNeoM.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-display: fallback;
  font-weight: 500;
  font-style: normal;
  src: url("./AppleSDGothicNeoB.woff") format("woff"),
       url("./AppleSDGothicNeoB.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
  src: url("./AppleSDGothicNeoEB.woff") format("woff"),
       url("./AppleSDGothicNeoEB.eot?iefix") format("embedded-opentype");
}

* { font-family: 'AppleSDGothicNeo', sans-serif !important; }
